.datatable-container {
  overflow-x: auto;
}

.datatable {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-size: 14px;
}

.datatable th,
.datatable td {
  border: 1px solid #ddd;
  padding: 8px;
}

.datatable th {
  background-color: #f2f2f2;
  position: relative;
}

.datatable input[type='text'],
.datatable select {
  width: 100%;
}

.datatable.nested {
  margin-top: 10px;
}
